<div class="container">
  <div class="header">
<span mat-dialog-title>{{task.text}}</span>
<!--  <span> {{task.date | date:'dd-MM |  HH:mm'}}</span>-->
<!--    <span *ngIf="task.date | date:'dd-MM-yyyy' == today | date:'dd-MM-yyyy'" > TODAY </span>-->
    <span *ngIf="task.date | date:'dd-MM-yyyy' == today | date:'dd-MM-yyyy'; else other" > TODAY </span>
    <ng-template #other> {{task.date | date:'dd-MM |  HH:mm'}}</ng-template>
  </div>

  <div class="description">
    <textarea matInput type="text" placeholder="Description" *ngIf="!task.description" #input (keyup.enter)="addDescription(input.value)"> </textarea>
  </div>
  <span>{{task.description}} </span>
  </div>
