<div class="container">
  <div>
    <mat-form-field>
      <mat-placeholder>Add new task</mat-placeholder>
      <input matInput type="text" #input (keyup.enter)="addTask(input.value) ; input.value =''">
      <button mat-button matSuffix mat-stroked-button aria-label="search"
              (click)="addTask(input.value); input.value=''">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="example-container">
    <h2>To do</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let task of todo" cdkDrag>{{task.text}}
        <div>
        <button mat-button (click)="addTaskToDone(task)"><mat-icon>done</mat-icon></button>
        <button mat-button (click)="deleteTaskFromTodo(task)"><mat-icon>delete</mat-icon></button>
        <button mat-button (click)="openDialog(task)"><mat-icon>more_horiz</mat-icon></button>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let task of done" cdkDrag>{{task.text}}
        <div>
          <button mat-button (click)="deleteTaskFromDone(task)"><mat-icon>delete</mat-icon></button>
          <button mat-button (click)="openDialog(task)"><mat-icon>more_horiz</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>
